body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 100%, 90%);
}

ul {
  background-color: hsl(0, 100%, 70%);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
  border: 2px solid transparent;
  border-radius: 25px;
  min-width: 80%;
  color: rgb(224, 218, 218);
}

li {
  display: flex;
  align-items: end;
  gap: 20px;
  min-width: 200px;
}

span:last-child {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  height: 57px;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  font-family: 'DS-Digital';
  font-size: 10rem;
}
