* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

.content {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin: auto;
}

.gif {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(3);
}
